/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
}

.flex {
  display: flex;
}

.cross-center {
  align-items: center;
}

.gap-10 {
  gap: 10%;
} */

/* .navbar {
  padding: 2em 0;
  background-color: rgb(147, 147, 226);
  color: white;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.row {
  justify-content: space-between;
}

.most-left {
  padding: 0 2em;
}

.logo {
  font-size: 2rem;
} */

/* header ==== navbar */
.header {
  padding: 2em 0;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  margin-bottom: 3rem;
  font-family: 'Montserrat', sans-serif;
}

.nav {
  flex-grow: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav--link:link,
.nav--link:visited {
  color: black;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  width: 40%;
  text-align: center;
}

.nav--person-icon {
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  padding: 1em;
}

.logo,
.nav--person-icon {
  color: #0290ff;
}
