code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.App {
  text-align: center;
}

/* general styles  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,300&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  font-family: 'Roboto Slab', serif;
  text-transform: capitalize;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  background-color: inherit;
  border: none;
  text-transform: inherit;
  font: inherit;
  cursor: pointer;
}

/* reuseable */
.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.main-center {
  justify-content: center;
}

.cross-center {
  align-items: center;
}

.direction-col {
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

.gap-1 {
  gap: 1vw;
}

.gap-2 {
  gap: 2vw;
}

.gap-3 {
  gap: 3rem;
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.vertical-pipe::after {
  position: relative;
  top: 0;
  left: 15%;
  content: '';
  border-left: 2px solid gainsboro;
  opacity: 50%;
  height: 4em;
}
